[Unit]
Description=RGB led player
After=network.target

[Service]
Type=idle
ExecStart=/usr/bin/python /var/www/html/python/play.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
